body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f3f3f3;
}

#dealer-value,
#game-status,
#player-value {
    font-size: 24px;
    font-weight: bold;
    margin: 10px;
}


#player-cards, #dealer-cards {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    display: inline-block;
}

img {
    height: 200px;
    margin: 5px;
}

img#hit-button {
    width: 7%;
    height: auto;
    cursor: pointer;
}

img#hit-button:hover {
    opacity: 0.8;
}

img#stand-button {
    width: 7%;
    height: auto;
    cursor: pointer;
}

img#stand-button:hover {
    opacity: 0.8;
}

img#new-game-button {
    width: 7%;
    height: auto;
    cursor: pointer;
}

img#new-game-button:hover {
    opacity: 0.8;
}