body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #212121;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li a.active {
    color: #63d0ff;
    font-weight: bold;
}

main {
    flex: 1;
    max-width: 80%;
    margin: 0 auto;
}

main h2 {
    color: #212121; 
    text-align: center;
}

main h3 {
    color: #212121; 
    text-align: center;
}

main p {
    text-align: center;
    color: #212121;
}

main.column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.education {
    width: 48%;
    margin-bottom: 20px;
    text-align: center;
}

section {
    margin-top: 20px;
}

img.logo {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    border-radius: 5%;
}

.image-container {
    display: flex;
    gap: 10px;
}

.image-container img {
    max-width: 100%;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .image-container {
        flex-direction: column;
    }
}

iframe.mapa {
    max-width: 100%;
    border: 1px solid #333333;
    border-radius: 10px;
}

section ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

section ul li {
    margin-bottom: 10px;
    position: relative;
}

a {
    background-color: transparent;
}

a:active, a:focus {
    background-color: #094660;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: #fff;
}